/* Resetting default browser styles */
html {
    scroll-behavior: smooth;
}

body, h1, h2, h3, p, ul, li, a, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Global styles */
body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header styles */
header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    /* height: 40px; */
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #007bff;
}

/* Hero section styles */
#hero {
    background-image: url('images/board_background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* About section styles */
#about {
    background-color: #fff;
    padding: 80px 0;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

/* How It Works section styles */
#how-it-works {
    padding: 80px 0;
}

#how-it-works h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

#how-it-works ul {
    list-style: square;
    padding-left: 20px;
}

#how-it-works li {
    margin-bottom: 10px;
}

/* Features section styles */
#features {
    background-color: #f9f9f9;
    padding: 80px 0;
}

#features h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature img {
    /* width: 100px; */
    height: 200px;
    margin-top: 40px;
    margin-bottom: 0;
}

/* Contact section styles */
#contact {
    padding: 10px 0;
    background-color: #fff;
}

#contact h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}

textarea {
    resize: vertical;
    min-height: 80px;
    max-height: 200px;
}